#Question 1 : Write a program to get a user input in the form of a list data type. Return a list by removing all the duplicates.

#Sample Input -> [4, 4, 5, 6, 8, 4, 5]

#Output -> [4, 5, 6, 8]

#NOTE: Take user input using a for loop.

In [35]:
list1=[4, 4, 5, 6, 8, 4, 5]
l=len(list1)
print(l)
list2=[]
temp1=list1[0]
for i in range (l-1) :
  if (temp1==list1[i]):
    i+1
  else:
        list2.append(temp1)
        temp1 = list1[i]
print(list2)

7
[4, 5, 6, 8]

#Question 2 : Write a program to create a user defined tuple with ‘int’ data type and perform the following operations: 

#Find the length of tuples 

#Find the sum of all the elements of a tuple 

#Find the largest and smallest elements of a tuple

In [4]:
t= (5,10,8,4)
print(type(t))
l=len(t)
print(l)
i=0
s=0
for i in range (l):
  s+=t[i]
print (s)
print("smallest number of tuple:",min(t))
print("largest nummber of tuple:",max(t))

<class 'tuple'>
4
27
smallest number of tuple: 4
largest nummber of tuple: 10

###Question 3 : Given a number and ith bit, change the ith bit of that number to 1.
###Sample Input -> num = 13, i = 1
###Output -> 15
Explanation -> 13 can be represented as 1101 in binary. Now if we set the 1st bit of this binary represented value, we will get 1111 (i.e. 15) as output.

In [1]:
a=7
i=4
ans = ((1 << i) | a)
print (ans)

23

### Question 4 : Given a number, print 1 if the number is odd otherwise print 0.
###NOTE: Try to do this program without the use of if else statement.

In [3]:
print("Enter any any number:")
aa= int(input())
print("The number is:",aa)
while(aa%2==0):
  print("The number is even")
  break
while(aa%2!=0):
  print("The number is odd")
  break

Enter any any number:
7
The number is: 7
The number is odd

###Question 5 : Given two lists of integers A and B. Write a program to merge them into a single sorted list that contains every item from list A and B in ascending order.

In [2]:
list3 = [7,5,8,4]
list4 = [9,1,2,3]
list5 = list3 + list4
list5.sort()
print(list5)

[1, 2, 3, 4, 5, 7, 8, 9]

###Question 6 : Create a user defined dictionary to store names and marks of 5 students. Sort the dictionary according to marks and return this sorted dictionary to the user.
###Sample Input -> {'Berlin': 70, 'Oslo':0, 'Moscow':50, 'Nairobi':100}
###Output -> {'Oslo':0, 'Moscow':50, 'Berlin': 70, 'Nairobi':100}

In [1]:
dict1 = {'sandeep': 70, 'ajay':65, 'manan':80, 'anirudh':60, 'jaskaran':75}
dict2 = sorted(dict1.items(), key=lambda kv: kv[1])
print (dict2)

[('anirudh', 60), ('ajay', 65), ('sandeep', 70), ('jaskaran', 75), ('manan', 80)]